@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
.App{
  max-width: 900px;
  margin:0 auto;
  background-color:rgb(201, 228, 236);
  box-shadow: 0 0 10px gray;

}
h1{
  text-align: center;
  color:#0b61b6;
  padding-top:1rem;
}
.App ul{
  padding-left: 0;
}
.box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
